#@layout()
#define header()
<script type="text/javascript" src="/RESOURCE/js/echarts.min.js"></script>
#end

#define main()

<div class="mdui-row">
    <div class="mdui-col-md-4">
        <div class="tipsBox" style="height: 300px;width: auto;">
            <span class="tag">数据统计</span>
            <ul class="mdui-list">
                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">import_export</i>
                    <div class="mdui-list-item-content">数据总量 : #(staticTotal.get(0).count ?? "0") 条</div>
                </li>
                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">style</i>
                    <div class="mdui-list-item-content">数据来源 : #(staticSource.get(0).count ?? "0") 库</div>
                </li>
                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">group</i>
                    <div class="mdui-list-item-content">覆盖人数 : #(staticPeople.get(0).count ?? "0") 人</div>
                </li>
                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">touch_app</i>
                    <div class="mdui-list-item-content">覆盖学号 : #(staticXueHao.get(0).count ?? "0") 个</div>
                </li>
                <li class="mdui-list-item mdui-ripple" style="display: none;">
                    <i class="mdui-list-item-icon mdui-icon material-icons">touch_app</i>
                    <div class="mdui-list-item-content">页面访问 : #(countTotal.get(0).count ?? "0") 次</div>
                </li>
                <li class="mdui-list-item mdui-ripple" style="display: none;">
                    <i class="mdui-list-item-icon mdui-icon material-icons">search</i>
                    <div class="mdui-list-item-content">搜索服务 : #(countSearch.get(0).count ?? "0") 次</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="mdui-col-md-4">
        <div class="tipsBox" style="height: 300px;width: auto;">
            <div id="chartSourceTop10" style="height: 300px;width: auto;"></div>
        </div>
    </div>
    <div class="mdui-col-md-4">
        <div class="tipsBox" style="height: 300px;width: auto;">
            <div id="chartKeywordTop20" style="height: 300px;width: auto;"></div>
        </div>
    </div>
    <div class="mdui-col-md-6">
        <div class="tipsBox" style="height: 300px;width: auto;">
            <div id="chartSourceAll" style="height: 300px;width: auto;"></div>
        </div>
    </div>
    <div class="mdui-col-md-6">
        <div class="tipsBox" style="height: 300px;width: auto;">
            <div id="chartDateClick" style="height: 300px;width: auto;"></div>
        </div>
    </div>
</div>


#end

#define footer()
<script>#include("dataMap.html")</script>
<script type="text/javascript">
    var chartSourceTop10 = echarts.init(document.getElementById('chartSourceTop10'));
    var chartSourceAll = echarts.init(document.getElementById('chartSourceAll'));
    var chartKeywordTop20 = echarts.init(document.getElementById('chartKeywordTop20'));
    var chartDateClick = echarts.init(document.getElementById('chartDateClick'));
    optionKeywordTop20 = {
        tooltip: {
            trigger: 'axis'
        },
        title: [{
            subtext: '搜索词TOP20',
            x: '10%',
            textAlign: 'center'
        }],
        legend: {
            x: 'bottom',
            data: ['A1', 'A2']
        },
        radar: [
            {
                indicator: KeywordTop20Indicator,
                radius: 80
            }
        ],
        series: [
            {
                type: 'radar',
                tooltip: {
                    trigger: 'item'
                },
                itemStyle: {normal: {areaStyle: {type: 'default'}}},
                data: [
                    {
                        value: KeywordTop20Data,
                        name: '数据源数量TOP10'
                    }
                ]
            }
        ]
    };
    optionSourceAll = {
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} 条 ({d}%)"
        },
        title: [{
            subtext: '所有数据来源库占比',
            x: '10%',
            textAlign: 'center'
        }],
        legend: {
            type: 'scroll',
            orient: 'vertical',
            x: 'right',
            data: SourceAllLegend
        },
        series: [
            {
                name: '数据源',
                type: 'pie',
                radius: ['70%', '90%'],
                avoidLabelOverlap: false,
                label: {
                    normal: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        show: true,
                        textStyle: {
                            fontSize: '25',
                            fontWeight: 'bold'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        show: false
                    }
                },
                data: SourceAllData
            }
        ]
    };
    optionSourceTop10 = {
        title: {
            subtext: 'TOP10数据源数据占比',
            x: 'left'
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        toolbox: {
            show: true,
            feature: {
                mark: {show: true},
                dataView: {show: true, readOnly: false},
                magicType: {
                    show: true,
                    type: ['pie', 'funnel']
                },
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        calculable: true,
        series: [
            {
                name: 'TOP10数据源数据量',
                type: 'pie',
                radius: [20, 110],
                center: ['50%', '50%'],
                roseType: 'radius',
                label: {
                    normal: {
                        show: false
                    },
                    emphasis: {
                        show: true
                    }
                },
                lableLine: {
                    normal: {
                        show: false
                    },
                    emphasis: {
                        show: true
                    }
                },
                data: SourceTop10Data
            }
        ]
    };
    optionDateClick = {
        visualMap: [{
            show: false,
            type: 'continuous',
            seriesIndex: 0,
            min: 0,
            max: 100
        }],
        title: [{
            left: 'left',
            subtext: '每日提供服务量'
        }],
        tooltip: {
            trigger: 'axis'
        },
        xAxis: [{
            data: dateList
        }],
        yAxis: [{
            splitLine: {show: false}
        }],
        grid: [{
            bottom: '10%'
        }],
        series: [{
            type: 'line',
            showSymbol: false,
            data: valueList
        }]
    };
    chartSourceTop10.setOption(optionSourceTop10);
    chartKeywordTop20.setOption(optionKeywordTop20);
    chartSourceAll.setOption(optionSourceAll);
    chartDateClick.setOption(optionDateClick);
</script>
#end