<input type="hidden" name="config.id" value="#(config.id??)"/>
<div class="mdui-textfield">
    <label class="mdui-textfield-label">备注</label>
    <input class="mdui-textfield-input" type="text" value="#(config.memo??)" name="config.memo"/>
</div>
<div class="mdui-textfield">
    <label class="mdui-textfield-label">配置项</label>
    <input class="mdui-textfield-input" type="text" value="#(config.name??)" name="config.name"/>
</div>
<div class="mdui-textfield">
    <label class="mdui-textfield-label">配置值</label>
    <input class="mdui-textfield-input" type="text" value="#(config.value??)" name="config.value"/>
</div>