#@layout()
#define main()
<form action="/auth/update" method="post">
    <div class="mdui-col-md-4 mdui-col-offset-md-1">
        <div class="title">更改授权用户</div>
        <div class="form_box">
            #include("_form.html")
        </div>
    </div>
    <div class="mdui-col-md-4 mdui-col-offset-md-1">
        <div class="title">更改用户权利</div>
        #include("_privilege.html")
    </div>
    <div class="mdui-col-md-4 mdui-col-offset-md-4">
        <input value="提交" class="mdui-btn mdui-btn-block mdui-color-theme-accent mdui-ripple" type="submit">
    </div>
</form>
#end

#define footer()
<script type="text/javascript">
    $(function () {
        // 页面加载完成后监测一次
        $("label[class=mdui-checkbox][status='selected']").click(function () {
            $(this).removeAttr('status');
            $(this).children("input:first").val(0);
        });
        $("label[class=mdui-checkbox][status!='selected']").click(function () {
            $(this).attr('status', 'selected');
            $(this).children("input:first").val(1);
        });
        // 动态检测一次
        $("label[class=mdui-checkbox]").change(function () {
            $("label[class=mdui-checkbox][status='selected']").click(function () {
                $(this).removeAttr('status');
                $(this).children("input:first").val(0);
            });
            $("label[class=mdui-checkbox][status!='selected']").click(function () {
                $(this).attr('status', 'selected');
                $(this).children("input:first").val(1);
            });
        });
    });
</script>
#end